.card {
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-size: cover;
    background-position: center;
}

.title {
    font-family: Outfit, sans-serif;
    font-weight: 600;
    color: var(--mantine-color-white);
    line-height: 1.2;
    font-size: 32px;
    margin-top: var(--mantine-spacing-xs);
}

.title2 {
    font-family: Outfit, var(--mantine-font-family);
    font-weight: 500;
    /*margin-bottom: var(--mantine-spacing-sm);*/
    text-align: center;

    @media (max-width: $mantine-breakpoint-sm) {
        font-size: 28px;
        text-align: left;
    }
}

.indicator {
    background-color: #6c3483;
}

.category {
    color: var(--mantine-color-white);
    opacity: 0.7;
    font-weight: 700;
    text-transform: uppercase;
}