.wrapper {
    min-height: 400px;
    max-width: 1200px; /* or any max width you prefer */
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
            -60deg,
            #c3aed6 0%,
            #6c3483 100%
    );
    border-radius: var(--mantine-radius-md);
    padding: calc(var(--mantine-spacing-xl) * 2.5);

    /* Responsive horizontal padding */
    padding-left: max(16px, 5vw);
    padding-right: max(16px, 5vw);

    @media (max-width: $mantine-breakpoint-sm) {
        padding: calc(var(--mantine-spacing-xl) * 1.5);
        padding-left: max(8px, 3vw);
        padding-right: max(8px, 3vw);
    }
}

.title {
    font-family: Outfit, var(--mantine-font-family);
    color: var(--mantine-color-white);
    font-weight: 500;
    line-height: 1;
}

.description {
    color: var(--mantine-color-blue-0);
    max-width: 300px;

    @media (max-width: $mantine-breakpoint-sm) {
        max-width: 100%;
    }
}

.form {
    background-color: var(--mantine-color-white);
    padding: var(--mantine-spacing-xl);
    border-radius: var(--mantine-radius-md);
    box-shadow: var(--mantine-shadow-lg);
}

.social {
    color: var(--mantine-color-white);

    @mixin hover {
        color: var(--mantine-color-blue-1);
    }
}

.input {
    background-color: var(--mantine-color-white);
    border-color: var(--mantine-color-gray-4);
    color: var(--mantine-color-black);

    &::placeholder {
        color: var(--mantine-color-gray-5);
    }
}

.inputLabel {
    color: var(--mantine-color-black);
}

.control {
    /*background-color: var(--mantine-color-blue-6);*/
    background: linear-gradient(90deg, #b57edc 0%, #a084ca 100%);
}