.title {
    font-family: Outfit, var(--mantine-font-family);
    font-weight: 500;
    margin-bottom: var(--mantine-spacing-md);
    text-align: center;

    @media (max-width: $mantine-breakpoint-sm) {
        font-size: 28px;
        text-align: left;
    }
}